body {
    background-image: url("https://cf-1.cdn.御坂网络.御坂美琴.cloudns.org/image/background/37de93df07816b23a7a203042f0de634ee6b017b94c39f213b85db626f0c4a91.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
}